<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating%> - <%= review.content %> </li>
  <% end %>
</ul>

<%= link_to "Back to restaurants list", restaurants_path, class: "btn btn-primary"%>
<br>
<br>
<% @review = Review.new %>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: Review::RATING, prompt: "Please rate this restaurant from 0 to 5 star(s)" %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<%# <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
